.about {
    scroll-margin-top:20rem ;
    display: flex;
    justify-content: space-between;
    gap: 16rem;
    max-width: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 350px;
    height: 50vh;
}

.about .about__left {
    max-width: 50%;
    flex: 1;
    flex-direction: column;
}

.about .about__left p {
    margin: 1rem 0 2rem;
}

.about .about__left ul {
    display: flex;
}

.about .about__rigth {
    flex: 1;
    max-width:50%;
    
}
.about-title{
    font-size: 6rem;
}


