.about {
    scroll-margin-top:20rem ;
    display: flex;
    justify-content: space-between;
    max-width: 100vh;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    height: 100vh;
}

.about .about__left {
    flex: 1;
    flex-direction: column;
    margin-right: 11rem;
}

.about .about__left ul {
    display: flex;
}

.about .about__rigth {
    flex: 1;
}
.about-title{
    font-size: 6rem;
}


