header{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

header .header__left{
    width: 100%;
}
.header__rigth{
    width: 100%;
}

header .header__rigth .header__img{
position: relative;
}

header .header__rigth .header__img::after{
   content: "";
   display: block;
   width: 70%;
   height: 100%;
   border: 1px solid var(--tertiary-color);
   position: absolute;
   top: 2rem;
   right: 7rem;
   border-radius: 0.5rem;
   z-index: -1;
}

header .header__rigth .header__img .vitor {
   border-radius: 0.5rem;
   width: 60vh;
   height: 80vh;
   
}

header .header__rigth .header__img .background{
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: -1;
    width: 40%;

}

