header{
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
}

header .header__left{
    max-width: 50%;
}

header .header__rigth .header__img{
position: relative;
}

header .header__rigth .header__img::after{
   content: "";
   display: block;
   width: 50%;
   height: 50%;
   border: 1px solid var(--tertiary-color);
   position: absolute;
   top: 2rem;
   right: 7rem;
   border-radius: 0.5rem;
   z-index: -1;
}

header .header__rigth .header__img .vitor {
   border-radius: 0.5rem;
   max-width: 80%;
   
}

header .header__rigth .header__img .background{
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: -1;
    width: 40%;

}

